<!doctype html>
<html>
  <head>
    <title>Spotify Lyrics</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css">
     
      .text-overflow {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 500px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      {{#if data.loggedIn}}
      <div id="loggedin">
        
          <h2>{{data.songTitle}}</h2>
      </div>
      {{else}}
      <div id="login">
       
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      {{/if}}

   
    </div>


   

    <script>
      {{#if data.loggedIn}} 
        setTimeout(function() {
          window.location.reload()
        }, 5000)
      {{/if}}
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    
  </body>
</html>

